:css
  .comment {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    *zoom: 1;
  }

  .comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
  }

  .comment-img img {
    display: block;
  }

  .comment-body {
    overflow: hidden;
  }

  .comment .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
  }

  .comment .text p:last-child {
    margin: 0;
  }

  .comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
  }

  /* Decoration */

  .comments,
  .comment {
    position: relative;
  }

  .comments:before,
  .comment:before,
  .comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
  }

  .comments:before {
    width: 3px;
    top: -20px;
    bottom: -20px;
    background: rgba(0,0,0,0.1);
  }

  .comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #ccc;
  }

  .comment:hover:before {
    background: orange;
  }

  .comment .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }


- model_class = Post
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @post.title
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @post.description


= link_to t('.back', :default => t("helpers.links.back")), posts_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_post_path(@post), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), post_path(@post), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'

%div.row
  %div.col-sm-12
    = render template: 'comments/index_for_post', object: @comments
